html {
  background-color: rgb(245, 245, 245);
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
}

.App {
  border: 0.5px solid grey;
  width: 33.5vw;
  height: 100vh;
}

